.LoginButton{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.LoginButton button{
    padding: 5px 12px 5px 12px;
    background-color: var(--color4);
    border: none;
    outline: none;
    color: var(--color1);
    border-radius: 5px;
}