@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

:root{
  --color1: #1A1A1B;
  --color2: #333F44;
  --color3: #37AA9C;
  --color4: #94F3E4;
  --color5: #ffffff;
};

