@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

:root{
  --color1: #1b262c;
  --color2: #0f4c75;
  --color3: #3282b8;
  --color4: #bbe1fa;
  --color5: #ffffff;
  --color6: #082e47;
};

